body{
  background-color: blanchedalmond;
}
img {
  display: block;
  width: 100%;
}

.slider-container {
  border: 5px solid rgb(86, 86, 86);
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 40px;
}
.slide {
  position: absolute;
  width: 100%;
  background:rgb(133, 133, 133);
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  height: 100%;
}




.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: rgb(86, 86, 86);
  transition: var(--transition);
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--clr-grey-3);
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 90vh;
  }
}