

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Darumadrop One', cursive;

}

.home-nav{
    background-color: rgb(249, 235, 79);
    padding: 2px 5px;
    border-radius: 20px;
}



/*--------------------Header-----------------------*/

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/wallpaper/wallpaper_concrete.jpg);
    background-size: cover;
    background-position: center;
   
}

.container{
    padding: 10px 5%;
    align-content: center;    
    padding-bottom: 100px;
}

nav{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logo{
   width: 100px;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}




.main-title-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}


p.title-digital-art{
    font-size: 100px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.subtitle-digital-art{
    margin-top: 0;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.main-title-container-left i{
    width: 20px;
}

.main-title-container-right img{
    width: 490px;
}

.content-menu .top,
.content-menu .bottom{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.content-menu button{
    width: 150px;
    height: 150px;
}

.content-menu img{
   width: 50px;
}

.content-menu .camera img{
    width: 25px;
} 

.content-menu p{
    margin-bottom: 0;
}







