body{
  background-color: blanchedalmond;
}
img {
  display: block;
  width: 100%;
}

.slider-container {
  border: 5px solid rgb(86, 86, 86);
  width: 1500px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 40px;

}
.slide {
  position: absolute;
  width: 100%;
  background:rgb(133, 133, 133);
  display: grid;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  width: 100%;
  object-fit: cover;
}




.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: rgb(86, 86, 86);

}
.prevBtn:hover,
.nextBtn:hover {
  color: rgb(120, 17, 17);
}



